* {
    box-sizing: border-box; /* Важливо: щоб padding не збільшував ширину блоків */
}

div, header, footer {
    border: 1px solid;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: monospace, 'Courier New', Courier, monospace;
    font-size: 18px;
    background-color: rgb(69, 50, 46);
    color: rgb(189, 181, 179);
    margin: 0;
    padding: 10px;
}

a {
    color: rgb(189, 181, 179);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(190, 125, 128);
    text-decoration: underline;
}


.flex-container::after,
.left::after,
.flex-container3::after,
.right::after {
    content: "";
    display: table;
    clear: both;
}


.flex-container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}


.left {
    float: left;
    width: 49%; 
    margin-right: 2%; 
}


.left .second {
    float: left;
    width: 48%;
    margin-right: 4%;
    text-align: left;
}

.left .third {
    float: left;
    width: 48%;
    text-align: left;
}


.right {
    float: left;
    width: 49%;
}

.fourth img {
    display: block;
    margin: auto;
}
.fourth {
    margin: auto;
    text-align: center; 
}


.flex-container3 {
    width: 100%;
}


.fifth {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.sixth {
    float: left;
    width: 48%;
}

img {
    text-align: center;
}

.middle {
    text-align: center; 
    margin-top: 50px;
    width: 100%;
}

.middle img {
    display: block;
    margin: auto;
}
.middle ol {
    display: inline-block; 
    text-align: left;      
}

header {
    text-align: left;
    padding: 10px;
    width: 100%;
    display: block; 
    overflow: hidden; 
}

footer {
    text-align: right;
    padding: 10px;
    margin-top: 20px;
    clear: both; 
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


@media screen and (max-width: 768px) {
    .left, .right, .second, .third, .fourth, .fifth, .sixth {
        width: 100% !important;
        float: none;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 20px;
        height: auto;
    }


    .flex-container, .flex-container3 {
        width: 100%;
        display: block;
    }


    img {
        max-width: 100%;
        height: auto;
    }


    h1, h2 {
        word-wrap: break-word;
    }

    .second ul li {
        text-align: center;
        border-bottom: 1px solid #bdb5b3;
    }
}